header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80px;
}

.right-icons {
    display: flex;
    gap: 25px; 
    padding: 20px;
}

.right-icons img {
    margin-top: 12px;
    height: 30px;
}

.notification-icon.active {
    filter: brightness(1.5);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    transition: box-shadow 0.3s ease-in-out;
}

.profile-pic img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

body.modal-open {
    overflow: hidden;
}

.profile-modal {
    position: fixed;
    top: 0;
    right: -340px;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 2;
}

.profile-modal.open {
    right: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    color: #808080;
    font-size: 20px;
    margin-right: 70px;
}

.close {
    color: #808080;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    margin-right: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.modal-links a {
    color: black;
    text-decoration: none;
}

.modal-links a:hover {
    color: #808080;
}

.horizontal-line-base {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    margin-top: 20px 0px;
    border-radius: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}

footer a {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.flash {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}