header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80px;
}

.right-icons {
    display: flex;
    gap: 10px; 
    padding: 20px;
}

.right-icons img {
    height: 30px;
}

.profile-pic {
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    border-radius: 50%;
    background-color: #ccc; /* placeholder  */
    /* background-image: url('path-to-image'); add path to user's profile picture */
    background-size: cover;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

footer a {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}