body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.scsu-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-box {
    text-align: center;
    background: #808080;
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 10px;
}

.owl-logo {
    margin-top: 30px;
    display: inline-block;
}

.landing-text {
  margin-top: 200px;
}

.landing-text p {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.landing-buttons {
    display: flex;
    justify-content: center;
}

.landing-login-button, .landing-signup-button {
    margin: 20px;
    margin-top: 5px;
    border-radius: 15px;
    width: 100px;
    padding: 5px 0px;
}

.landing-login-button a, .landing-signup-button a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
  font-weight: 600;
}

.landing-login-button a:hover, .landing-signup-button a:hover {
  cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.footer p {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}