.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current, .past {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ride-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.ride {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    color: black;
    height: 450px;
    width: 350px;
}

.ride:hover {
    background-color: #bfbfbf;
}

.post-pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.ride-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.ride_header {
    display: flex;
    align-items: center;
}

.ride-actions, .past-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    align-self: center;
    bottom: 20px;
    position: absolute;
}

.complete-ride, .delete-ride, .cancel-ride, .rate-ride {
    background-color: #818181;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 80px;
    height: 40px;
}

.complete-ride:hover, .edit-ride:hover, .delete-ride:hover, .cancel-ride:hover {
    background-color: #5f5f5f;
}

.ride-grid a {
    text-decoration: none;
    color: inherit;
}

.rate-ride {
    align-self: center;
}