.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
}

.requests-messages {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.ride-requests, .new-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #808080;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.request, .message {
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    color: black;
    font-size: 12px;
    line-height: 1.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.request-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 10px;
    color: #fff;
    background-color: #626161;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #404040;
}

.request p {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.more-requests, .view-messages {
    padding: 10px;
    color: #fff;
    background-color: #626161;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.more-requests:hover, .view-messages:hover {
    background-color: #404040;
}

.none {
    margin: 0;
    text-align: center;
}