.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #808080;
    margin: 30px 100px 0px 100px;
    border-radius: 20px;
    padding: 20px;
}

.body {
    color: white;
}

.profile-header {
    display: flex;
    align-items: center;
}

.pfp {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.name-and-buttons {
    display: flex;
    align-items: center;
}

.vertical-line {
    height: 30px;
    border-left: 2px solid white;
    margin: 0 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.message-button, .more-button {
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    border: none;
    outline: none;
}

.message-button img, .more-button img {
    width: 100%;
    height: 100%;
}

.message-button:hover, .more-button:hover {
    background-color: #bfbfbf;
}

.profile-statistics {
    display: flex;
    align-items: center;
    gap: 20px;
}

.star {
    width: 20px;
    height: 20px;
    background-image: url('/img/star.png');
    background-size: cover;
}

.ratings-reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.horizontal-line {
    display: block;
    width: 50%;
    margin: 0 auto;
    border-top: 2px solid white;
    border-radius: 10px;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}