<!DOCTYPE html>
<html>
<head>
    <title>Find A Ride</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#filterButton").click(function(){
                $("#filterForm").toggle();
            });
        });
    </script>
</head>
<body>
    <h1>Find A Ride</h1>

    <form method="POST">
        {{ search_form.hidden_tag() }}
        {{ search_form.ridetype.label }} {{ search_form.ridetype() }}<br>
        {{ search_form.departingFrom.label }} {{ search_form.departingFrom() }}<br>
        {{ search_form.destination.label }} {{ search_form.destination() }}<br>
        {{ search_form.departingAt.label }} {{ search_form.departingAt() }}<br>
        {{ search_form.departingAt_AM_PM.label }} {{ search_form.departingAt_AM_PM() }}<br>
        {{ search_form.arrival.label }} {{ search_form.arrival() }}<br>
        {{ search_form.arrival_AM_PM.label }} {{ search_form.arrival_AM_PM() }}<br>
        {{ search_form.submit() }}
    </form>

    <button id="filterButton">Filter</button>

    <form id="filterForm" style="display: none;" method="POST">
        {{ filter_form.hidden_tag() }}
        {{ filter_form.vehicle_type.label }} {{ filter_form.vehicle_type() }}<br>
        {{ filter_form.duration.label }} {{ filter_form.duration() }}<br>
        {{ filter_form.stops.label }} {{ filter_form.stops() }}<br>
        {{ filter_form.reccuring.label }} {{ filter_form.reccuring() }}<br>
        {{ filter_form.recurring_days.label }} {{ filter_form.recurring_days() }}<br>
        {{ filter_form.accessibility.label }} {{ filter_form.accessibility() }}<br>
        {{ filter_form.description.label }} {{ filter_form.description() }}<br>
        {{ filter_form.submit() }}
    </form>

    <h2>Rides</h2>
    {% for ride in rides %}
        <p>{{ ride }}</p>
    {% endfor %}
</body>
</html>