{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="announcements">
        <h2 class="announcement-h2">Announcements</h2>
        <div class="announcements-container">
            {% for announcement in announcements %}
            <div class="announcement">
                <h2>{{ announcement.announcement_title }}</h2> 
                <p>{{ announcement.announcement_date.strftime('%Y-%m-%d') }}</p>
                <p>{{ announcement.announcement_text|truncate(100, True) }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="new-rides">
        {% for ride in rides %}
        <a href="{{ url_for('view_post', ride_id=ride.ride_id) }}" class="ride-link">
            <div class="ride">
                {% if loop.first %}
                <div class="banner">
                    <img src="{{ url_for('static', filename='img/banner.png') }}" alt="New Rides">
                </div>
                {% endif %}
                <div class="ride_header">
                    <img class="post-pfp" src="{{ url_for('static', filename='uploads/' + ride.user.user_profile.user_img) }}" alt="{{ ride.user.username }}'s profile picture">
                    <h2 class="ride-title">Ride {{ "by" if ride.is_offered else "for" }} {{ ride.user.user_profile.first_name }} {{ ride.user.user_profile.last_name }}</h2>
                </div>
                    <p>Ride type: {{ ride.ridetype }}</p>
                    {% if ride.ridetype == 'commute' %}
                        <p>Arrival: {{ ride.arrival.strftime('%l:%M %p').lstrip() if ride.arrival else None }}</p>
                        <p>Departing from: {{ ride.departingFrom }}</p>
                        <p>Destination: {{ ride.destination }}</p>
                        <p>Recurring: {{ 'Yes' if ride.reccuring else 'No' }}</p>
                    {% elif ride.ridetype == 'errand' %}
                        <p>Departing at: {{ ride.departingAt.strftime('%l:%M %p').lstrip() if ride.departingAt else None }}</p>
                        <p>Departing from: {{ ride.departingFrom }}</p>
                        <p>Stops: {{ ride.stops }}</p>
                    {% elif ride.ridetype == 'leisure' %}
                        <p>Departing at: {{ ride.departingAt.strftime('%l:%M %p').lstrip() if ride.departingAt else None }}</p>
                        <p>Departing from: {{ ride.departingFrom }}</p>
                        <p>Destination: {{ ride.destination }}</p>
                        <p>Duration: {{ ride.duration }}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    <a href="/find_ride" class="more-rides-button">More rides</a>
</div>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}