<!DOCTYPE html>
<html>
<head>
    <title>OwlGo</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter@3.15.4/css/inter.css">
<body>
    <div class="scsu-logo">
        <img src="{{ url_for('static', filename='img/scsu.png') }}" alt="SCSU Logo">
    </div>
    <div class="container">
        <div class="landing-box">
            <div class="owl-logo">
                <img src="{{ url_for('static', filename='img/owls.png') }}" alt="Owl Logo">
            </div>
            <div class="landing-text">
                <p>Continue with SCSU email</p>
            </div>
            <div class="landing-buttons">
                <button class="landing-login-button">
                    <a href="{{ url_for('login') }}">Log in</a>
                </button>
                <button class="landing-signup-button">
                    <a href="{{ url_for('register') }}">Sign up</a>
                </button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Terms</p>
        <p>Privacy</p>
        <p>Support</p>
    </div>
</body>
</html>