<!DOCTYPE html>
<html>
<head>
    <title>OwlGo</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename=css/landing.css)}}" type="text/css">
<body>
    <div class="scsu-logo">
        <img src="{{ url_for('static', filename='img/scsu.png') }}" alt="SCSU Logo">
    </div>

    <div class="landing-box">
        <div class="owl-logo">
            <img src="{{ url_for('static', filename='img/owl.png') }}" alt="Owl Logo">
        </div>
        <div class="landing-text">
            <h2>Continue with SCSU email</h2>
        </div>
        <div class="landing-login">
            <a href="{{ url_for('login') }}">Login</a>
        <div class="landing-signup">
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </div>
        <div class="rectangle"></div>
        <div class="footer">
            <p>Terms</p>
            <p>Privacy</p>
            <p>Contact</p>
        </div>
    </div>
</body>
</html>