{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rate_ride.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Rate</h1>
    <form method="POST">
        {{ rating_form.hidden_tag() }}
        {{ review_form.hidden_tag() }}
        <div class="rating">
            <div>
                <div><label for="cleanliness">Cleanliness:</label></div>
                <div class="fields">
                    <div class="star"><input type="radio" name="cleanliness" id="clean-star1" value="1">1</div>
                    <span></span>
                    <div class="star"><input type="radio" name="cleanliness" id= "clean-star2" value="2">2</div> 
                    <span></span>          
                    <div class="star"><input type="radio" name="cleanliness" id="clean-star3" value="3">3</div>
                    <span></span>         
                    <div class="star"><input type="radio" name="cleanliness" id="clean-star4" value="4">4</div>
                    <span></span>          
                    <div class="star"><input type="radio" name="cleanliness" id="clean-star5" value="5">5</div>
                    <span></span>
                </div>
            </div>     
        </div>
        <div class="rating">
            <div>
                <div><label for="punctuality">Punctuality:</label></div>
                <div class="fields">
                    <div class="star"><input type="radio" name="punctuality" id="star1" value="1">1</div>
                    <span></span>  
                    <div class="star"><input type="radio" name="punctuality" id= "star2" value="2">2</div>
                    <span></span>           
                    <div class="star"><input type="radio" name="punctuality" id="star3" value="3">3</div> 
                    <span></span>        
                    <div class="star"><input type="radio" name="punctuality" id="star4" value="4">4</div>
                    <span></span>          
                    <div class="star"><input type="radio" name="punctuality" id="star5" value="5">5</div>
                    <span></span> 
                </div>     
            </div>
        </div>
        <div class="rating">
            <div>
                <div><label for="safety">Safety:</label></div>
                <div class="fields">
                    <div class="star"><input type="radio" name="safety" id="star1" value="1">1</div>
                    <span></span>     
                    <div class="star"><input type="radio" name="safety" id= "star2" value="2">2</div>
                    <span></span>
                    <div class="star"><input type="radio" name="safety" id="star3" value="3">3</div>
                    <span></span>     
                    <div class="star"><input type="radio" name="safety" id="star4" value="4">4</div>
                    <span></span>     
                    <div class="star"><input type="radio" name="safety" id="star5" value="5">5</div>
                    <span></span>
                </div> 
            </div>
        </div>
        <div class="rating">
            <div>
                <div><label for="comfort">Communication:</label></div>
                <div class="fields">
                    <div class="star"><input type="radio" name="communication" id="star1" value="1">1</div>
                    <span></span>
                    <div class="star"><input type="radio" name="communication" id= "star2" value="2">2</div>
                    <span></span>
                    <div class="star"><input type="radio" name="communication" id="star3" value="3">3</div>
                    <span></span>
                    <div class="star"><input type="radio" name="communication" id="star4" value="4">4</div>
                    <span></span>
                    <div class="star"><input type="radio" name="communication" id="star5" value="5">5</div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="review">
            <label for="review_text">Review:</label>
            <textarea id="review_text" name="review_text"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
    
{% endblock %}