{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/confirm_ride.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
      {% for message in messages %}
        <div class="alert alert-warning">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="content">
  <h1>Confirm Ride</h1>
    <div class="user-request">
      <div class="request_header">
        <img class="passenger-pfp" src="{{ url_for('static', filename='uploads/' + passenger.user_profile.user_img) }}">
        <h2 class="request-title">Request from {{ request.passenger.user_profile.first_name }} on {{ request.timestamp|datetimefilter }}</h2>
      </div>
      <div class="request_details">
            {% if request.ride.departingAt %}
              <p>Departing At: {{ request.ride.departingAt.strftime('%I:%M %p') }}</p>
            {% endif %}
        
            {% if request.ride.arrival %}
                <p>Arrival Time: {{ request.ride.arrival.strftime('%I:%M %p') }}</p>
            {% endif %}
        
            {% if request.ride.ridetype %}
                <p>Ride Type: {{ request.ride.ridetype|capitalize }}</p>
            {% endif %}
        
            {% if request.ride.departingFrom %}
                <p>Departing From: {{ request.ride.departingFrom }}</p>
            {% endif %}
        
            {% if request.ride.destination %}
                <p>Destination: {{ request.ride.destination }}</p>
            {% endif %}
      </div>
      <div class="reject">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.rejection_reason.label }} {{ form.rejection_reason() }}
          </div>
          {{ form.submit() }}
        </form>
      </div>
    </div>
</div>

<!-- <div>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.rejection_reason.label }} {{ form.rejection_reason() }}
    </div>
    {{ form.submit() }}
  </form>
</div> -->
{% endblock %}