{% extends "base.html" %}
{% block content %}
<div class="ride-details">
  <h2>Request By: {{ ride.user.user_profile.first_name }} {{ ride.user.user_profile.last_name }}</h2>
  <p><strong>Request Time/Date:</strong> {{ ride.ride_timestamp.strftime('%I:%M %p') }}</p>
  <img src="{{ ride.user.user_profile.user_img }}" alt="Driver's profile picture">
  {% if ride.user.user_profile.home_town %}
    <p><strong>Home Town:</strong> {{ ride.user.user_profile.home_town }}</p>
  {% endif %}
  {% if ride.user.user_profile.about %}
    <p><strong>About:</strong> {{ ride.user.user_profile.about }}</p>
  {% endif %}
  {% if ride.ridetype %}
    <p><strong>Ride Type:</strong> {{ ride.ridetype }}</p>
  {% endif %}
  {% if ride.vehicle_type %}
    <p><strong>Vehicle Type:</strong> {{ ride.vehicle_type }}</p>
  {% endif %}
  {% if ride.departingFrom %}
    <p><strong>Departing From:</strong> {{ ride.departingFrom }}</p>
  {% endif %}
  {% if ride.destination %}
    <p><strong>Destination:</strong> {{ ride.destination }}</p>
  {% endif %}
  {% if ride.recurring_days %}
    <p><strong>Recurring Days:</strong> {{ ride.recurring_days }}</p>
  {% endif %}
  {% if ride.accessibility %}
    <p><strong>Accessibility:</strong> {{ ride.accessibility }}</p>
  {% endif %}
  {% if ride.completed %}
    <p><strong>Completed:</strong> {{ ride.completed }}</p>
  {% endif %}
  {% if ride.ride_description %}
    <p><strong>Ride Description:</strong> {{ ride.ride_description }}</p>
  {% endif %}
  {% if ride.departingAt %}
    <p><strong>Departing Time:</strong> {{ ride.departingAt.strftime('%I:%M %p') }}</p>
  {% endif %}
  {% if ride.arrival %}
    <p><strong>Arrival Time:</strong> {{ ride.arrival.strftime('%I:%M %p') }}</p>
  {% endif %}
  {% if ride.stops %}
    <p><strong>Stops:</strong> {{ ride.stops }}</p>
  {% endif %}
  {% if ride.duration %}
    <p><strong>Duration:</strong> {{ ride.duration }}</p>
  {% endif %}
</div>

<div>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.rejection_reason.label }} {{ form.rejection_reason() }}
    </div>
    {{ form.submit() }}
  </form>
</div>
{% endblock %}