{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/start_ride_offer.css') }}">
{% endblock %}
{% block content %}
    <div class="content">
        <h1>Offer a ride</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="rideType">
                {{ form.ridetype.label }} {{ form.ridetype(id="ridetype") }}
            </div>
            <div id="departingFrom-field">
                <label class="main-label">{{ form.departingFrom.label }}</label> {{ form.departingFrom }}
            </div>
            <div id="departingAt-field">
                <label class="main-label">{{ form.departingAt.label }}</label> {{ form.departingAt }}
            </div>
            <div id="destination-field">
                <label class="main-label">{{ form.destination.label }}</label> {{ form.destination }}
            </div>
            <div id="arrival-field">
                <label class="main-label">{{ form.arrival.label }}</label> {{ form.arrival }}
            </div>
            <div id="duration-field">
                <label class="main-label">{{ form.duration.label }}</label> {{ form.duration }}
            </div>
            <div id="stops-field">
                <label class="main-label">{{ form.stops.label }}</label>
                {% for stop in form.stops %}
                    <div class="{{ 'stop-field' if loop.index0 > 0 else '' }}">{{ stop }}</div>
                {% endfor %}
                <button type="button" id="add-stop">Add Stop</button>
            </div>
            <div id="reccuring-field">
                <label class="main-label">{{ form.reccuring.label }}</label> {{ form.reccuring }}
            </div>
            <div id="recurring_days-field">
                <label class=main-label>{{ form.recurring_days.label }}</label>
                {% for value, label in form.recurring_days.choices %}
                    <div>
                        <input type="checkbox" value="{{ value }}" id="recurring_days-{{ loop.index }}" name="recurring_days" {% if form.recurring_days.data and value in form.recurring_days.data %} checked {% endif %}>
                        <label for="recurring_days-{{ loop.index }}">{{ label }}</label>
                    </div>
                {% endfor %}
            </div>
            <div id="accessibility-field">
                <label class="main-label">{{ form.accessibility.label }}</label>
                {% for value, label in form.accessibility.choices %}
                    <div>
                        <input type="checkbox" value="{{ value }}" id="accessibility-{{ loop.index }}" name="accessibility" {% if form.accessibility.data and value in form.accessibility.data %} checked {% endif %}>
                        <label for="accessibility-{{ loop.index }}">{{ label }}</label>
                    </div>
                {% endfor %}
            </div>
            <div id="description-field">
                <label class="main-label">{{ form.description.label }}</label> {{ form.description }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
        <script src="{{ url_for('static', filename='js/start_ride_offer.js') }}"></script>
    </div>
{% endblock %}