{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start_ride_offer.css') }}">
{% endblock %}
{% block content %}
    <h1>Start Ride Offer</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.ridetype.label }} {{ form.ridetype(id="ridetype") }}
        </div>
        <div>
            {{ form.departingFrom.label }} {{ form.departingFrom }}
        </div>
        <div>
            {{ form.departingAt.label }} {{ form.departingAt }}
        </div>
        <div>
            {{ form.destination.label }} {{ form.destination }}
        </div>
        <div>
            {{ form.arrival.label }} {{ form.arrival }}
        </div>
        <div>
            {{ form.duration.label }} {{ form.duration }}
        </div>
        <div>
            {% for stop in form.stops %}
                {{ stop }}
            {% endfor %}
        </div>
        <div>
            {{ form.reccuring.label }} {{ form.reccuring }}
        </div>
        <div>
            {{ form.accessibility.label }} {{ form.accessibility }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/start_ride_offer.js') }}"></script>
{% endblock %}