{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_announcement.css') }}">
{% endblock %}
<div class="content">
    <div class="announcement">
        <div class="announcement-header">
            <div class="announcement-img">
                <img src="{{ url_for('static', filename='img/announcement.png') }}" alt="Announcement">
            </div>
            <h1>{{ announcement.announcement_title }}</h1>
            <p>{{ announcement.announcement_date }}</p>
        </div>
        <p>{{ announcement.announcement_content }}</p>
    </div>
</div>
{% block content %}