{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_profile.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="profile-about">
        <div class="profile-header">
                <div class="name-and-buttons">
                    <img src="{{ url_for('static', filename='uploads/' + user.user_profile.user_img) }}" alt="{{ user.user_profile.first_name }}'s profile picture" class="pfp">
                    <h1>{{ user.profile_backref.first_name }} {{ user.profile_backref.last_name }}</h1>
                    <div class="vertical-line"></div>
                    <div class="button-group">
                        <button class="message-button">
                            <img src="{{ url_for('static', filename='img/message.png') }}" alt="Message">
                        </button>
                        <button class="more.button">
                            <img src="{{ url_for('static', filename='img/more.png') }}" alt="More">
                        </button>
                    </div>
                </div>
            <p>{{ user.profile_backref.home_town }}</p>
            <p>{{ user.profile_backref.about }}</p>
        </div>
    </div>
    <div class="profile-statistics">
        <div class="star"></div>
        <div class="average">
            <p>{{ user.profile_backref.average_rating }}</p>
        </div>
        <div class="vertical-line"></div>
        <div class="completed-rides">
            <p>{{ completed_rides }} completed rides</p>
        </div>
        <div class="vertical-line"></div>
        <div class="reviews">
            <p>{{ reviews }} reviews</p>
        </div>
    </div>
    <div class="ratings-reviews">
        <div class="horizontal-line"></div>
        <div class="reviews">
            {% for review in reviews %}
            <div class="review">
                <img src="{{ url_for('static', filename='uploads/' + review.user.profile_backref.user_img) }}" alt="{{ review.user.profile_backref.first_name }}'s profile picture" class="pfp">
                <h3>{{ review.user.profile_backref.first_name }} {{ review.user.profile_backref.last_name }}</h3>
                <p>{{ review.review_text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}